//@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";
// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-select/sass/bootstrap-select.scss";
@import "~md.bootstrappersiandatetimepicker/dist/jquery.md.bootstrap.datetimepicker.style.css";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

@font-face {
  font-family: "Vazir";
  src: url("../../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Vazir.woff2") format("woff2"),
    url("../../fonts/Vazir.woff") format("woff"),
    url("../../fonts/Vazir.ttf") format("truetype");
  /* Safari, Android, iOS */
}

body {
  direction: rtl;
  text-align: right !important;
  font-family: "Vazir" !important;
}
.page-item:first-child .page-link{
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: unset !important;
    border-top-left-radius: unset !important;
}

.page-item:last-child .page-link {
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

#registerCheckBox::before{
    right: -1.5rem;
}

#registerCheckBox::after{
    right: -1.5rem;
}


.mds-bootstrap-persian-datetime-picker-popover{
    max-width: fit-content !important;
}
